/*     font-family: 'Cherry Cream Soda', cursive;
    font-family: 'Oregano', cursive;
    font-family: 'Warnes', cursive;
    */



    @import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Oregano&family=Warnes&display=swap');   
    

    body {
        background-image: url('./assets/diner1.jpg');
        background-color: beige;
    }

    h1 {
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        padding: 10px;
    }
    
    .header {
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color:  rgb(226, 242, 243, 0.8);
        font-family: 'Warnes', cursive;
        margin: 10px;
        border-radius: 5px;

    }
    
    
    .logo {
        font-size: 4rem;
        padding-left: 50px;
    }
    
    .nav-bar {
        display: flex;
        font-size: 2rem;  
        padding-right: 20px;
    }
    
    .nav-bar div {
        padding-right: 20px;
    }

    .nav-bar div:hover, .logo:hover {
        color: #db0662;
    }
    
    
    
    #content {
        /* height: 650px; */
        width: 1000px;
        background-color:  rgb(226, 242, 243, 0.8);
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        font-family: 'Cherry Cream Soda', cursive;
        border-radius: 20px;
    }

    .menu-tabs {
        position: relative;
        min-height: 350px;
        width: 900px;
        clear: both;    
        top: 30px;
        
    }
    .tab {
        float: left;
    }

    .tab label {
        background: #eee;
        padding: 15px;
        border: 1px solid #ccc;
        margin-left: -1px;
        position: relative;
        left: 1px;
        border-radius: 10px;
    }

    .tab [type=radio] {
        display: none;
    }


    .welcome-page {
        text-align: center;
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
        padding-top: 30px;
    }

    .welcome-page > * {
        padding: 10px;
    }

    .middle-home {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .welcome-pic {
        max-height: 500px;
        max-width: 500px;
    }

    .welcome-pic img {
        height: 90%;
        width: 90%;
    }

    .welcome-page table {
        margin: 0 auto;
    }
    
    .opening-hours {
        padding-top: 30px;
        font-size: 1.5rem;
        line-height: 2rem;
    }

 

    .menu-page {
        position: absolute;
        top: 28px;
        left: 0;
        background: #ffc5c2;
        right: 0;
        bottom: 0;
        padding: 20px;
        border: 1px solid #ccc;
        margin: 20px;
    }

    [type=radio]:checked ~ label {
        background: #ffc5c2;
        border-bottom: 1px solid white;
        z-index: 2;
    }

    [type=radio]:checked ~ label ~ .menu-page {
        z-index: 1;
    }

    .menu-items {
        display: grid;
        grid-template-columns: 3fr 1fr 3fr 1fr;
    }

    .items-col li, .price li {
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px solid peachpuff;
    }

    .menu-info {
        padding-top: 20px;
    }

    .gallery {
       margin-top: 50px;
       position: relative;
       width: 900px;
        
    }
    
    .gallery-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .pic-container {
        
        width: 275px;
        height: 250px;
        padding: 10px;
        
    }
    
    .pic-container img {
      width: 100%;
      height: 100%;

    }

    .contact-details {
        display: grid;
        grid-template-columns: 66% 33%;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .map {
      
    }

    .address {
        margin-top: 50px;
        line-height: 2rem;
        font-size: 1.3rem;
    }